.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;

    width: 100%;

    font-family: 'Press Start 2P';
    font-size: 0.8rem;

    .logo {
        width: 350px;
    }

    div {
        margin-top: 1rem;
        position: relative;
        cursor: pointer;

        span {
            position: absolute;
            margin: 0.5rem;
            padding-top: 2px;

            width: 18px;
            height: 18px;
            background: $red;
            color: #ffffff;
            text-align: center;
        }
    }
}
