.cart-overview {
    @import '../assets/styles/main/colors';

    width: 350px;

    legend {
        text-align: center;
    }

    .message {
        font-family: 'Press Start 2P';
        font-size: 0.9rem;
        text-align: center;
        color: $red;
    }

    span {
        text-align: center;
    }

    button {
        margin-top: 1rem;
        height: 40px;
        padding: 0.7rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

    img {
        height: 50px;
        image-rendering: pixelated;
        transform: scaleX(-1);
    }
}
