.cart-overview {
    width: 350px;

    legend {
        text-align: center;
    }

    .message {
        font-family: 'Press Start 2P';
        font-size: 0.9rem;
        text-align: center;
    }

    span {
        text-align: center;
    }

    button {
        margin-top: 1rem;
        height: 40px;
        padding: 0.7rem;
    }
}
