fieldset {
    border: 4px solid $black;

    font-family: 'Press Start 2P';
    text-align: center;

    legend {
        padding: 0.7rem 1rem;
        font-size: 1.2rem;
        color: $black;
    }
}
