.items-container {
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 420px;
    flex-wrap: wrap;
    
    border: 4px solid black;

    legend{
        padding: 0.7rem 1rem;
        font-family: 'Press Start 2P';
        font-size: 1.2rem;
    }

    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;

        padding: 1.2rem 0.8rem;
        margin: 1rem;
    
        img {
            height: 5rem;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
            margin-bottom: 1.4rem;
        }
    
        span {
            font-family: 'Press Start 2P';
            font-size: 1.2rem;
            text-align: center;
        }
    }
}