.items-container {
    width: 440px;

    border: 4px solid black;

    legend {
        padding: 0.7rem 1rem;
        font-family: 'Press Start 2P';
        font-size: 1.2rem;
    }

    > div {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 160px;
        height: 250px;

        padding: 1.2rem 0.8rem;
        margin: 1rem;
        position: relative;

        img {
            height: 5rem;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
            margin-bottom: 1.4rem;
        }

        span {
            font-family: 'Press Start 2P';
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 1rem;
        }

        button {
            position: absolute;
            bottom: 15px;
            height: 3.5rem;
            width: 8rem;
        }
    }
}
