.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 250px;

    padding: 1.2rem 0.8rem;
    margin: 0.6rem;
    position: relative;

    img {
        height: 5rem;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        margin-bottom: 1.4rem;
    }

    span {
        font-family: 'Press Start 2P';
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    button {
        position: absolute;
        bottom: 15px;
        height: 3.5rem;
        width: 8rem;
    }
}
