* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 80%;
    font: inherit;
    vertical-align: baseline;
}

html,
body,
#root {
    height: 100vh;
}

body {
    @import './main/colors';
    @import './main/layout';
    @import './elements/items';
    @import './elements/button';
    @import './elements/fieldset';
    @import './elements/cart-item';
    @import './elements/modal';
    @import './elements/input';
    @import './effects/retro-shadow';

    background: $primary;
}
